<p id="notice"><%= notice %></p>
<% cache("show_post#{@post.id}", :expires_in => 10.seconds) do %>
<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>


  <%# cache(:expires_in => 10.seconds) do %>
  <p>
    <b>Tags:</b>
    <%= join_tags(@post) %>
  </p>
  <%# end %>

<%# cache(:expires_in => 10.seconds) do %>
<% @post.comments.each do |comment| %>
  <p><%= comment.commenter %></p>
  <p><%= comment.body %></p>

  <% end %>
<%# end %>
<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<br>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<% end %>